*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}.container{max-width: 1200px;
    margin: 0 auto;
}
.title{
    font-size: 2rem;
    font-weight: bold;
    color: #181818;
    margin-bottom: 30px;
}
.subtitle{
    line-height: 30px;
    color: #757575;
    margin-bottom: 30px;
}
 .subtitle1{
    font-size: 1rem;
    color: #757575;
    line-height: 24px;}


.open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
header{
    background-image: url(./images/developer.png),url(./images/header_bg.png);
    background-repeat: no-repeat;
    background-position:35px 100px,bottom right; 
    padding-top: 50px;
}
nav{
   
    display: flex;
    justify-content: space-between;
}
.logo h2{
    font-size: 3rem;

}
.color-orange{
    color: #FD6E0A;
}
nav .menu{
    display: flex;
    list-style-type: none;
    gap:51px;
    align-items: center;

}
nav .menu a{
    text-decoration: none;
    color: #474747;
}
.btn{
    background-color:#FD6E0A; 
    font-size: 20px;
    border-radius: 5px;
    border: none;
    color: #FFF8F3;
    padding: 18px 20px;
    font-weight: bold;
}
.btn2{
    background-color: #FFF8F3;
    color: #FD6E0A;
    border: 1px solid #FD6E0A;
    margin-left: 20px;
}
#banner{
   display: flex;
   justify-content: space-between;
    padding: 161px 38px 0px 130px;


}
#banner .banner-content h2{
    font-size: 2.5rem;
    font-weight: 600;
    color: #474747;
    margin-bottom: 5px;
    
}
#banner .banner-content h1{
    font-size: 5rem;
    font-weight:bold ;
    margin-bottom: 20px;

}
#banner .banner-content p{
    line-height: 30px;
    color: #757575;
    margin-bottom: 30px;
}
#banner .banner-content .banner-image{
    max-width: 100%
}
#about{
    padding: 131px 157px;
    margin-top: 130px;
    text-align: center;
    background-color: #FFF8F3;
}
 
#about .info{
    display: flex;
    justify-content: space-around;
    

}
#card-container{
    margin-top:130px ;
    text-align: center;
}
#card-container .subtitle{
    padding:  30px 157px;
}
#card-container .cards{
    display:flex;
    justify-content: space-around;
    gap: 24px;
}
#card-container .cards .card{
    text-align: left;
    box-shadow: 0px 6px 20px #0a0606;
    padding: 30px;
   
}
#card-container .cards .card img{
    width: 44px;
     margin-bottom: 30px;
}
#card-container .cards .card .card-title{
    font-weight: bold;
    font-size: 20px;
     margin-bottom: 20px;
   
}
#card-container .cards .card .card-subtitle{
    line-height: 28px;
}
#resume-container{
    margin-top:130px ;
    text-align: center;
}
#resume-container .resume{
    display: flex;
    justify-content: space-between;
    gap: 71px;
    text-align: left;
}
#resume-container .resume-info{
    margin-bottom: 60px;

}
#resume-container .title1{
    font-size: 30px;
    color: #474747;
    margin-bottom: 20px;
}


#foot-container{
    margin-top:100px;
    background-color: #FFF8F3;
    padding:  130px;
}
#foot-container .foot-info{
    display: flex;
   justify-content: space-around;
  
}
#foot-container .foot-info .foot1{
    margin-right:71px ;
}
#foot-container .foot-info .foot1  img{
    margin-top:30px ;
    margin-right: 24px;
}
#foot-container .foot-info .foot2 input[type="text"],
#foot-container .foot-info .foot2 textarea{
    width: 461px;
    padding: 15px;
    margin-bottom: 24px;

}

@media (max-width:1024px) and (min-width:575px){
    .container{
        padding: 0 30px;
        margin: 0 20px;
    }
    .btn{
  margin-bottom: 20px;
    font-size: 1.25rem;
   
}
#about{
    padding: 31px 57px;
    margin-top: 70px;
    
}
 #card-container{
    margin-top:30px ;
}
#card-container .subtitle{
    padding:  10px ;
}
#card-container .cards{
    gap: 14px;
}
#foot-container{
    margin-top:30px;
    padding:  30px;
}
#foot-container .foot-info .foot2 input[type="text"],
#foot-container .foot-info .foot2 textarea{
    width: 100%;
    margin-bottom: 14px;

}

}
@media screen and (max-width:575px){
    header{
   background-image: none;
    background-position:0px ,0px
}#banner .banner-content .banner-image{
   width: 100%;
}
nav,#banner,#about .info,#card-container .cards,#resume-container .resume,#foot-container .foot-info{
  gap: 20px;
   flex-direction: column;
    padding: 20px
}
.container{
        padding: 0 20px;
        margin: 0 auto;
    }

#about{
    padding: 20px 17px;
    margin-top: 30px;
}
.btn{
  margin-bottom: 20px;
    font-size: 1.25rem;
   
}
#card-container{
    margin-top:30px ;
    text-align: center;
}
#card-container .subtitle{
    padding:  30px;
}#foot-container{
    margin-top:30px;
    background-color: #FFF8F3;
    padding:  20px;
}
#foot-container .foot-info .foot2 input[type="text"],
#foot-container .foot-info .foot2 textarea{
    width: 100%;
    padding: 5px;
    margin-bottom: 14px;

}
}