*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}.container{
 width: 75%;
    max-width: 1199px;
    margin: 0 auto;
}
.title{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 30px;
}
.subtitle{
    line-height: 30px;
    color: #757575;
    margin-bottom: 30px;
}
.open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
header{
    background-image: url(./images/developer.png),url(./images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left,bottom right; 
    padding-top: 50px;
}
nav{
   
    display: flex;
    justify-content: space-between;
}
.logo h2{
    font-size: 45px;

}
.color-orange{
    color: #FD6E0A;
}
nav .menu{
    display: flex;
    list-style-type: none;
    gap:51px;
    align-items: center;

}
nav .menu a{
    text-decoration: none;
    color: #474747;
}
.btn{
    background-color:#FD6E0A; 
    font-size: 20px;
    border-radius: 5px;
    border: none;
    color: #FFF8F3;
    padding: 18px 35px;
    font-weight: bold;
}
.btn2{
    background-color: #FFF8F3;
    color: #FD6E0A;
    border: 1px solid #FD6E0A;
    margin-left: 29px;
}
#banner{
   display: flex;
   justify-content: space-between;
  
    margin: 161px 38px 0px 230px;
    align-items: center;

}
#banner .banner-content h2{
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 5px;
    
}
#banner .banner-content h1{
    font-size: 85px;
    font-weight:bold ;
    margin-bottom: 20px;

}
#banner .banner-content p{
    line-height: 30px;
    color: #757575;
    margin-bottom: 30px;
}
#banner .banner-content .banner-image{
    max-width: 585px;
}
#about{
    padding: 131px 157px;
    margin-top: 130px;
    text-align: center;
    background-color: #FFF8F3;
}
 
#about .info{
    display: flex;
    justify-content: space-around;
    

}
#card-container{
    margin-top:130px ;
    text-align: center;
}
#card-container .subtitle{
    padding:  30px 157px;
}
#card-container .cards{
    display:flex;
    justify-content: space-around;
    gap: 24px;
}
#card-container .cards .card{
    text-align: left;
    box-shadow: 0px 6px 20px #0a0606;
    padding: 30px;
   
}
#card-container .cards .card img{
    width: 44px;
     margin-bottom: 30px;
}
#card-container .cards .card .card-title{
    font-weight: bold;
    font-size: 20px;
     margin-bottom: 20px;
   
}
#card-container .cards .card .card-subtitle{
    line-height: 28px;
}